{% extends "student/desk.html" %}
{% load crispy_forms_tags %}


{% block section %}section-blog{% endblock %}
{% block content %}



<div class="alert text-center" style="margin-top: 20px;">
		<h4>Welcome</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>
	</div>

<div class="row text-center">

	
	<div class="col-sm-6">
		<h4>New Bids</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<table class="table table-bordered table-responsive" style="margin-top: 45px;">
		  <thead>
		    <tr>
		      <th scope="col">Bid ID</th>
		      <th scope="col">Job ID</th>
		      <th scope="col">Amount</th>
		      <th scope="col">Options</th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for obj in bids %}

		    <tr>
		      <td>{{ obj.id }}</td>
		      <td>{{ obj.job_id }}</td>
		      <td>{{ obj.total_amt }}</td>
		      <td>
		      	<a href="/student_desk/bid/{{ obj.id }}/" class="btn btn-primary btn-sm">view</a>
		      	<a href="/student_desk/bid/delete/{{ obj.id }}/" class="btn btn-danger btn-sm">delete</a>
		      </td>
		    </tr>

		    {% endfor %}
		  </tbody>
		</table>
	</div>



	<div class="col-sm-6">
		<h4>Write Us</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
		<form method="POST" action="">{% csrf_token %}
			{{ form|crispy }}
			<input class="btn btn-success" type="submit" name="submit" value="Send">
		</form>
	</div>
</div>






{% endblock content %}