{% extends "student/desk.html" %}

{% block content %}

<div style="margin-top: 40px;">
<h4>{{ instance.job_title }}</h4>
<h5>Subject : {{ instance.subject }}</h5>
<p>Due Date : {{ instance.due_date }}</p>
<p>Willing To Pay : {{ instance.amt }} $</p>
<hr>
<p>{{ instance.description }}</p>
<p>Publish On : {{ instance.timestamp }}</p>
<div>
	<p>Attachment : <a target="_blank" href="{{ instance.file.url }}"><i class="fa fa-file-archive-o fa-3x" aria-hidden="true"></i></a></p>
</div>
	
</div>


{% endblock content %}