{% extends "superuser/desk.html" %}


{% block section %}section-projects{% endblock %}


{% block content %}


<div class="row text-center" style="margin-top: 20px;">

	<div class="col-md-4">
		<h4>{{ active }}</h4>
		<p><a class="btn" href="/superuser/active_projects/">Active Projects</a></p>
	</div>


	<div class="col-md-4">
		<h4>{{ under_process }}</h4>
		<p><a class="btn" href="/superuser/under_process_projects/">Under Process Projects</a></p>
	</div>


	<div class="col-md-4">
		<h4>{{ closed }}</h4>
		<p><a class="btn" href="/superuser/closed_projects/">Closed Projects</a></p>
	</div>

</div><hr>

<div style="margin-top: 40px;">
	<h4>{{ title }}</h4>
		<table class="table table-bordered table-responsive" style="margin-top: 20px;">
		  <thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">Title</th>
		      <th scope="col">Description</th>
		      <th scope="col">Due-Date</th>
		      <th scope="col">Amt</th>
		      <th scope="col">Options</th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for obj in object %}

		    <tr>
		      <td>{{ obj.id }}</td>
		      <td>{{ obj.job_title | truncatechars:20 }}</td>
		      <td>{{ obj.description | truncatechars:50 }}</td>
		      <td>{{ obj.due_date }}</td>
		      <td>{{ obj.amt }}</td>
		      <td>
		      	<a href="/superuser/view_project/{{ obj.id }}/" class="btn btn-primary btn-sm">view</a>
		      </td>
		    </tr>

		    {% endfor %}
		  </tbody>
		</table>
</div>



{% endblock content %}