{% extends "superuser/desk.html" %}


{% block section %}section-bids{% endblock %}


{% block content %}


<div class="row text-center" style="margin-top: 20px;">

	<div class="col-md-3">
		<h4>{{ active }}</h4>
		<p><a class="btn" href="/superuser/active_bids/">Active Bids</a></p>
	</div>


	<div class="col-md-3">
		<h4>{{ accepted }}</h4>
		<p><a class="btn" href="/superuser/accepted_bids/">Accepted Bids</a></p>
	</div>


	<div class="col-md-3">
		<h4>{{ complete }}</h4>
		<p><a class="btn" href="/superuser/completed_bids/">Complete Bids</a></p>
	</div>


	<div class="col-md-3">
		<h4>{{ close }}</h4>
		<p><a class="btn" href="/superuser/closed_bids/">Close Bids</a></p>
	</div>

</div><hr>

<div style="margin-top: 40px;">
	<h4>{{ title }}</h4>
		<table class="table table-bordered table-responsive">
		  <thead>
		    <tr>
		      <th scope="col">Bid ID</th>
		      <th scope="col">Job ID</th>
		      <th scope="col">Amount</th>
		      <th scope="col">Total Amount</th>
		      <th scope="col">Options</th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for obj in object %}

		    <tr>
		      <td>{{ obj.id }}</td>
		      <td>{{ obj.job_id }}</td>
		      <td>{{ obj.amt }}</td>
		      <td>{{ obj.total_amt }}</td>
		      <td>
		      	<a href="/superuser/view_bid/{{ obj.id }}/" class="btn btn-primary btn-xs">view</a>
		      </td>
		    </tr>

		    {% endfor %}
		  </tbody>
		</table>
</div>



{% endblock content %}