{% extends "superuser/desk.html" %}


{% block section %}section-projects{% endblock %}


{% block content %}


<div class="alert" role="alert" style="margin-top: 20px;">
	
		<div>
    <h4>{{ instance.job_title }}</h4>
    <h5>Subject : {{ instance.subject }}</h5>
    </div>
		


  
  <div class="row">
  	<div class="col-sm-4">Due Date : {{ instance.due_date }}</div>
  	<div class="col-sm-4">Price : {{ instance.amt }}$</div>
  	
  </div> 

    <hr>
     
  <p style="margin-top: 20px;">Description : {{ instance.description }}</p>
  <p>Publish On : {{ instance.timestamp }}</p>
  <p>Attachment : <a target="_blank" href="{{ instance.file.url }}"><i class="fa fa-file-archive-o fa-3x" aria-hidden="true"></i></a></p>

</div>

{% endblock content %}