{% extends "teacher/desk.html" %}

{% block content %}



<div class="alert text-center" style="margin-top: 20px;">
		<h4>Welcome</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>
	</div>

<div class="row text-center">

	
	<div class="col-sm-6">
		<h4>Accepted Bids</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<table class="table table-bordered table-responsive" style="margin-top: 45px;">
		  <thead>
		    <tr>
		      <th scope="col">Bid ID</th>
		      <th scope="col">Job ID</th>
		      <th scope="col">Amount</th>
		      
		    </tr>
		  </thead>
		  <tbody>
		    {% for obj in object %}

		    <tr>
		      <td>{{ obj.id }}</td>
		      <td>{{ obj.job_id }}</td>
		      <td>{{ obj.amt }}</td>
		      
		    </tr>

		    {% endfor %}
		  </tbody>
		</table>
	</div>



	<div class="col-sm-6">
		<h4>Write Us</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.</p>
		
	</div>
</div>






{% endblock content %}