{% extends "teacher/desk.html" %}

{% block section %}section-upload-solution{% endblock %}

{% block content %}


<div class="container text-center" style="text-align: center;margin-top: 40px;">
	<h4>Upload Solutions</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat.</p>
</div>

<div class="container" style="margin-top: 40px;margin-bottom: 250px;">

	<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th scope="col">Bid ID</th>
      <th scope="col">Job ID</th>
      <th scope="col">Amount</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in object %}

    <tr>
      <td>{{ obj.id }}</td>
      <td>{{ obj.job_id }}</td>
      <td>{{ obj.amt }}</td>
      <td>
      	<a href="/teacher_desk/view/{{ obj.job_id }}/" class="btn btn-primary btn-xs">view job</a>
      	<a href="/teacher_desk/upload_solution/upload/{{ obj.id }}/{{ obj.job_id }}/{{ obj.std_id }}/" class="btn btn-success btn-xs">upload solution</a>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
</div>





{% endblock content %}