{% extends "teacher/desk.html" %}

{% block content %}

<div style="margin-top: 20px;">
	<div class="row">
		<div class="col-sm-6">
    <h4>{{ instance.job_title }}</h4>
    <h5>Subject : {{ instance.subject }}</h5>
    </div>
		<div class="col-sm-6 "><a class="btn btn-info btn-xs" href="/teacher_desk/bid/{{ instance.id }}/{{ instance.user_id }}">Place Bid</a></div>

	</div>
  
  <br>

  <div class="row">
  	<div class="col-sm-4">Due Date : {{ instance.due_date }}</div>
  	<div class="col-sm-4">Price : {{ instance.amt }}$</div>
  	
  </div>  
  <hr>
  <p style="margin-top: 20px;">Description : {{ instance.description }}</p>
  <p>Publish On : {{ instance.timestamp }}</p>
  <p>Attachment : <a target="_blank" href="{{ instance.file.url }}"><i class="fa fa-file-archive-o fa-3x" aria-hidden="true"></i></a></p>

</div>


{% endblock content %}