body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
}


/*jumbotron style here*/
.jumbo-margin{
	margin-top: 10px;
	height: 500px;
}



#id_due_date_month{
	width: 150px;
	
}

#id_due_date_day{
	width: 150px;
	
}

#id_due_date_year{
	width: 150px;
	
}

.control-label{
	color:#17A2B8;
}