{% extends "base.html" %}

{% block content %}

 <div class="jumbotron jumbotron-fluid jumbo-margin">
  <div class="container" style="text-align: center;">
    <h1 class="display-3">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.
    This is a modified jumbotron that occupies the entire horizontal space of its parent.
    This is a modified jumbotron that occupies the entire horizontal space of its parent.
    This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>

    <button type="button" class="btn btn-primary btn-lg" onClick="location.href='/register_here'">Join Us</button>
    <button type="button" class="btn btn-secondary btn-lg" onClick="location.href='/sign_in'">Login</button>
   
  </div>
</div>

{% endblock content %}